<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center top-padded">Forgot Password</h1>
    <%= form_for :password_reset, url: password_resets_path do |f| %>
      <div class="form-inputs">
        <fieldset>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </fieldset>
      </div>
      <div class="form-actions">
        <%= f.submit "Reset Password", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
