<p>
  <%= @user.full_name %>, welcome to Polity at enthusiastick.io! Click on
  <%= link_to "this link", edit_account_confirmation_url(@token, email: @user.email) %>
  to confirm your email address and activate your account.
</p>
