$background-color: #292929;
$tile-light: #2f2f2f;
$tile-lighter: #373737;

$light-blue-accent: #97c9b3;

$text-light: #6f6f6f;
$text-lighter: darken(white, 20%);
$white: #fff;

$success: #4e941a;
$error: #f19121;
