$background-color: #292929;
$tile-light: #2F2F2F;
$tile-lighter: #373737;

$light-blue-accent: #97C9B3;

$text-light: #6F6F6F;
$text-lighter: darken(white, 20%);
$white: #fff;

$success: #4E941A;
$error: #F19121;
