@import "colors";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', Fallback, sans-serif;
}

body, html {
  height: calc(100% - 40px);
  width: 100%;
  top: 80px;
  background: $background-color;
}

a {
  color: $text-light;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $light-blue-accent;
}

.fullwidth {
  width: 100%;
  max-width: initial;
}

@media (max-width: 1024px) {
  // body {
  //   overflow-y: scroll;
  // }
}

@media (max-width: 525px) {
  #name-and-updated {
    visibility: hidden;
  }
}
