@import 'colors';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', Fallback, sans-serif;
}

html {
	height: 100%;
}
body {
	background: $background-color;
	height: 100%;
	width: 100%;
}

.fullwidth {
	width: 100%;
	height: 100%;
	max-width: initial;
}

a {
	color: $text-light;
	text-decoration: none;
}
a:hover,
a:focus {
	color: $light-blue-accent;
}
