@import "colors";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', Fallback, sans-serif;
}

body, html {
  background: $background-color;
  height: calc(100% - 40px);
  width: 100%;
  top: 80px;
}

a {
  color: $text-light;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $light-blue-accent;
}

.fullwidth {
  width: 100%;
  max-width: initial;
}
