@import "colors";
@import "mixins";

.effect-search[type="text"], textarea {
  @include no-user-select();
  @include disable-default-appearance();
  position: absolute;
  left: 245px;
  top: 20px;
  width: 65%;
  height: 40px;
  font-size: 1.6em;
  font-weight: 100;
  background-color: $tile-light;
  color: darken(white, 20%);
}
.effect-search[type="text"]:focus, textarea:focus {
  @include no-user-select();
  @include disable-default-appearance();
  background-color: $tile-light;
}
