@import 'colors';
@import 'mixins';

welcome-nav {
	font-family: 'Montserrat';
	font-weight: 200;
	padding-left: 20px;
	padding-top: 13px;
	z-index: 999;
	color: $text-light;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	background-color: $tile-light;
}

.palette {
	font-size: 2em;
}

.sign-up-form {
	color: $white;
	text-align: center;
	position: absolute;
	top: 15%;
	width: 100%;
}

#register {
	@include no-user-select();
	color: $text-light;
	font-weight: 100;
	font-size: 2em;
	margin-bottom: 15px;
}

#demo {
	@include no-user-select();
	color: $text-light;
	font-weight: 100;
	font-size: 1.4em;
	margin-bottom: 15px;
}

#register-success {
	@include no-user-select();
	color: $text-light;
	font-weight: 100;
	font-size: 1.7em;
	margin-bottom: 15px;
}

#register-name {
	@include no-user-select();
	color: $text-light;
	font-weight: 200;
	font-size: 1.7em;
	margin-bottom: 10px;
}

#login-signup-button {
	font-size: 2em;
	padding: 5px;
	font-weight: 200;
	margin: 10px;
}

#user_handle[type='text'],
textarea,
#user_email,
#user_password,
#user_password_confirmation,
#product_product_name,
#user_first_name,
#user_last_name {
	font-weight: 200;
	text-align: center;
	border-radius: 10px;
	height: 50px;
	font-size: 1.5em;
	background-color: $tile-light;
	color: white;
	border: 1px solid $tile-lighter;
}

#sign-up-icon {
	border: 1px solid $tile-lighter;
	border-radius: 200px;
	margin-bottom: 15px;
	padding: 15px 22px;
	color: $tile-lighter;
}

.form-errors {
	color: $text-light;
	margin-bottom: 15px;
}

.bridge-discover-status {
	width: 30%;
	min-width: 300px;
	color: $text-light;
	border-radius: 10px;
	margin: auto;
	background-color: $error;
	color: $text-light;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
