@import "colors";
@import "mixins";

#session_login[type="text"], textarea {
  font-weight: 200;
  text-align: center;
  border-radius: 10px;
  height: 50px;
  font-size: 1.5em;
  background-color: $tile-light;
  color: white;
  border: 1px solid $tile-lighter;
}

#session_password[type="password"], textarea {
  text-align: center;
  font-weight: 200;
  border-radius: 10px;
  height: 50px;
  font-size: 1.5em;
  background-color: $tile-light;
  color: white;
  border: 1px solid $tile-lighter;
}

#lock-icon {
  border: 1px solid $tile-lighter;
  border-radius: 200px;
  margin-bottom: 5px;
  padding: 15px 25px;
  color: $tile-lighter;
}

.form-actions {
  color: black;
}

.sign-in-error {
  margin-bottom: 22px;
  color: $text-light;
}
