@import 'colors';
@import 'mixins';

#Components {
	flex: 1;
	display: flex;
	height: 100%;
	padding: 15px;
}

.Component {
	@include no-user-select();
	flex: 1;
	display: flex;
	flex-direction: column;
}

.Component-slider {
	@include no-user-select();
	display: flex;
	font-size: 5rem;
}

.Slider {
	@include no-user-select();
	margin: 3%;
	margin-bottom: 0;
	margin-top: 0;
	width: 50%;
	cursor: ns-resize;
	fill: transparent;
}

.Slider-circle {
	@include no-user-select();
	fill: rgb(31, 41, 46);
}

.Slider-bar {
	@include no-user-select();
	stroke: $tile-lighter;
}

.Slider-progress {
	@include no-user-select();
	stroke: $light-blue-accent;
}

.Slider-value {
	@include no-user-select();
	fill: $text-light;
	font-size: 0.5em;
	font-weight: 200;
}

.Slider-label {
	@include no-user-select();
	fill: $text-light;
	font-weight: 200;
	font-size: 0.25em;
}

#top-left-slider {
	margin-left: 14%;
	margin-right: 3%;
}
#top-right-slider {
	margin-right: 14%;
	margin-left: 3%;
}
