/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

html {
  height: 100%;
}

#app {
  height: 100%;
}

body {
  // margin: 0;
  height: 100%;
  background: #444;
  color: #fffce1;
  font-family: 'Raleway', Arial, sans-serif;
}

a {
  text-align: center;
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #D04E59;
}

#nav-icon {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}

main {
  height: 100%;
  // padding: 3em 2em;
  background: #b4bad2;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  background: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.30em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.dashboard-grid {
  // margin-top: 4em;
  margin-left: 4em;
  margin-right: 2em;
}

.fullwidth {
   width: 90%;
   height: 90%;
   max-width: initial;
}

.row {
  margin-bottom: 20px;
}

.box {
  background: rgba(0,0,0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  // padding: 50px;
  border: 3px solid rgba(0,0,0, 0.1);
}

.led-color-picker-tile {
  // background-color: rgba(0, 0, 0, 0.3);
  border: none;
}
.accessory-tile {
  background-color: rgba(100, 0, 0, 0.3)
}
.led-movement-tile {
  background-color: rgba(0, 100, 0, 0.3)
}
.led-data-tile {
  background-color: rgba(0, 0, 100, 0.3)
}



.chrome-picker {
  background-color: red;
  width: 100%;
}
