/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require 'react-reflex/styles.css'
 */

// html {
//   height: 100%;
// }

input[type="text"]:focus, textarea:focus {

  position: absolute;
  right: 35px;
  top: 15px;

  width: 65%;

  max-width: 500px;

  border-radius: 10px;

  height: 40px;
  font-size: 1em;
  background-color: #2F2F2F;
  color: white;
  border: 1px solid darken(white, 40%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

input[type="text"], textarea {

  position: absolute;
  right: 35px;
  top: 15px;

  width: 65%;
  max-width: 500px;

  border-radius: 10px;

  height: 40px;
  font-size: 1em;
  border: 1px solid #4F4F4F;
  background-color: #2F2F2F;
  color: darken(white, 20%);
}

#app {
  margin: 70px auto 0;
}

#outer-container, #page-wrap {
  margin: 70px auto 0;
}

body {
  margin: 70px auto 0;
  background: #292929;
  color: #fffce1;
  font-family: 'Raleway', Arial, sans-serif;
}

a {
  text-align: center;
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #D04E59;
}

#nav-icon {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}

main {
  height: 100%;
  background: #b4bad2;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  background: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.30em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: #2F2F2F;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
}

#account-dropdown {
  position: absolute;
  // display: inline-block;
  float: right;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

#nav-alert {
  position: absolute;
  text-align: center;
  float: right;
  top: 0;
  right: 250px;
  bottom: 0;
  width: 75px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.user-name {
  // vertical-align: middle;
  // margin-top: 10px;
  fontFamily: 'Menlo';
  font-style: normal;
  line-height: 1.1em;
  color: #4F4F4F;
  display: inline-block;
}

.user-email {
  fontFamily: 'Menlo';
  font-style: italic;
  line-height: 1.1em;
  color: #4F4F4F;
  display: inline-block;
}

#nav-alert > i {
  color: #4F4F4F;
  position: relative;
  top: calc(50% - 10px);
}

#nav-menu-button > i {
  color: #4F4F4F;
  position: absolute;
  left: 20px;
  top: calc(50% - 15px);
}

#account-dropdown > i {
  margin-right: 35px;
  text-align: center;
  display: inline-block;
  color: #4F4F4F;
  position: relative;
  top: calc(50% - 33px);
  right: -20px;
}

#page-wrap {
  margin-top: 100px;
}

.fullwidth {
  width: 90%;
  height: 90%;
  max-width: initial;
}

.box {
  position: relative;
  background: #2F2F2F;
  border-radius: 3px;
  margin-bottom: 20px;
  height: 400px;
  // padding: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
}

.palette-adjust {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  width: 100%;
  // display: block;
  height: 35px;
  // bottom: 0;
  background: green;
}

#led-color-picker-tile {
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-size: 2.3em;
  font-family: 'Menlo';
  color: #4F4F4F;
}

#accessory-tile {
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-size: 2.3em;
  font-family: 'Menlo';
  color: #4F4F4F;
}

#led-movement-tile {
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-size: 2.3em;
  font-family: 'Menlo';
  color: #4F4F4F;
}

#led-data-tile {
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-size: 2.3em;
  font-family: 'Menlo';
  color: #4F4F4F;
}


.test {
  font-family: 'Menlo';
  padding-top: 15px;
  padding-bottom: 20px;
}

// HT Sonus / Sonus extra light / Sonus light

#box-icon {
  color: #4F4F4F;
  position: absolute;
  left: 20px;
  top: 20px;
}
