/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

html {
  height: 100%;
}

#app {
  height: 100%;
}

#dashboard-tile {
  display: table;
  margin: 100px, 100px;
  padding: 30px;
  max-width: auto;
  background: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  height: 100%;
  background: #444;
  color: #fffce1;
  font-family: 'Raleway', Arial, sans-serif;
}

a {
  text-align: center;
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #D04E59;
}

#nav-icon {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}

main {
  height: 100%;
  padding: 3em 2em;
  background: #b4bad2;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  background: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.30em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

// .dashboard-grid {
//   width: 75%;
//   // position: relative;
//   left: 20em;
//   // right: 80%;
//   display: grid;
//   padding: 50px;
//   background-color: red;
//   // display: grid;
//   // grid-template-columns: 40px auto 50px;
//   // grid-template-rows: 25% 75%;
//   // grid-column-gap: 10px;
//   // grid-row-gap: 15px;
//   // justify-items: center;
//   // align-items: center;
//   // justify-content: stretch;
// }

.dashboard-grid {
  /* top | right | bottom | left */
  padding: 100px 3% 50px 100px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 300px 300px;
  // justify-items: center;
  // align-items: center;
  // justify-content: stretch;
}

.box {
  background: rgba(208,78,89, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.led-color-picker-tile {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.accessory-tile {
  grid-row: 1 / span 2;
  grid-column: 3 ;
}
.led-movement-tile {
  grid-column: 1;
  grid-row: 2;
}
.led-data-tile {
  grid-column: 2;
  grid-row: 2;
}
