// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#session_login[type="text"], textarea {
  position: relative;
  margin: auto;
  width: 75%;
  max-width: 400px;
  border-radius: 10px;
  height: 40px;
  font-size: 1em;
  background-color: #2F2F2F;
  color: white;
  border: 1px solid #454545;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

#session_password[type="password"], textarea {
  position: relative;
  margin: auto;
  width: 75%;
  max-width: 400px;
  border-radius: 10px;
  height: 40px;
  font-size: 1em;
  background-color: #2F2F2F;
  color: white;
  border: 1px solid #454545;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.container-title {
  font-family: 'Menlo';
  color: #4F4F4F;
  font-size: 2em;
  position: absolute;
  top: 12px;
  left: 65px;
}
