.make-blue {
   background-color: blue;
}

.api-list {
  pointer-events: none;
  text-align: center;
  height: 50%;
  z-index: 1;
}

.connection-tile-list {
  pointer-events: none;
  text-align: center;
  display: block;
  z-index: 1;
}

.endpoint-tiles {
  // text-align: center;
  pointer-events: none;
  user-select: none;
  position: relative;
  top: 90%;
  background-color: #373737;
  margin: 5px;
  display: inline-block;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 16%;
  height: 26%;
  z-index: 3;
}

.connection-tiles {
  text-align: center;
  pointer-events: none;
  user-select: none;
  position: relative;
  background-color: #373737;
  color: #6F6F6F;
  margin: 5px;
  display: inline-block;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 16%;
  z-index: 3;
}

.tile-divider{
  position: absolute;
  // display: inline-block;
  bottom: 7%;
  left: 10%;
  width: 80%;
  border: 0;
  height: 1px;
  background: #292929;
}

.api-key {
  display: inline-block;
  font-weight: 500;
}

.api-value {
  text-align: center;
  font-weight: 300;
}

.data-search[type="text"], textarea {
  position: absolute;
  user-select: none;
  left: 245px;
  top: 20px;
  width: 65%;
  height: 40px;
  font-size: 1.6em;
  font-weight: 100;
  box-shadow: none;
  background-color: #2F2F2F;
  color: #686868;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
}
.data-search[type="text"]:focus, textarea:focus {
  background-color: #2F2F2F;
  user-select: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
}

.api-control {
  width: 100%;
  position: absolute;
  top: 57%;
}
