@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', Fallback, sans-serif;
}

body, html {
  height: calc(100% - 40px);
  width: 100%;
  top: 80px;
  background: #292929;
}

a {
  color: #6F6F6F;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #95C9B4;
}

.fullwidth {
  width: 100%;
  max-width: initial;
}

@media (max-width: 1024px) {
  // body {
  //   overflow-y: scroll;
  // }

}

@media (max-width: 525px) {
  #name-and-updated {
    visibility: hidden;
  }
}
