.dashboard {
  position: relative;
  top: -5px;
  // height: 100%;
}

.box {
  position: relative;
  background: #2F2F2F;
  border-radius: 4px;
  margin: 10px;
  // height: 40vh;
  height: 395px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
  color: #6F6F6F;
  overflow: hidden;
}

#box-icon {
  user-select: none;
  cursor: default;
  color: #6F6F6F;
  position: absolute;
  left: 20px;
  top: 20px;
}

#api-box-icon {
  user-select: none;
  cursor: default;
  color: #6F6F6F;
  position: absolute;
  left: 20px;
  top: 20px;
}

.container-title {
  user-select: none;
  cursor: default;
  display: block;
  letter-spacing: 0.08em;
  padding-right: 20px;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 100;
  position: relative;
  width: fit-content;
  height:inherit;
  left: 66px;
  top: 7px;
}

.container-title:after {
  content:"";
  background: #686868;
  position: absolute;
  bottom: 20%;
  right: 0;
  height: 60%;
  width: 1px;
}

.container-search {
  cursor: pointer;
  color: #6F6F6F;
  position: absolute;
  right: 25px;
  top: 20px;
}

.container-dropdown {
  position: absolute;
  left: 198px;
  top: 16px;
  font-weight: bold;
  color: #6F6F6F;
}

#container-dropdown {
  position: absolute;
  left: 298px;
  top: 29px;
  color: #6F6F6F;
}

.container-info {
  user-select: none;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.dashboard-title {
  user-select: none;
  pointer-events: none;
  display: inline-block;
  color: #6F6F6F;
  margin-left: 20px;
  font-size: 2em;
  font-weight: 300;
}

#name-and-updated {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 12px;
  left: 190px;
  color: #6F6F6F;
  font-size: 1.25em;
  font-weight: 200;
}

#settings-info {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 20px;
  left: 260px;
  display: inline-block;
  color: #6F6F6F;
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.2;
}
