$input-background-color: #2F2F2F;

.effect-search[type="text"], textarea {
  user-select: none;
  position: absolute;
  left: 245px;
  top: 20px;
  width: 65%;
  height: 40px;
  font-size: 1.6em;
  font-weight: 100;
  box-shadow: none;
  background-color: $input-background-color;
  color: darken(white, 20%);
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
}
.effect-search[type="text"]:focus, textarea:focus {
  user-select: none;
  background-color: $input-background-color;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
}
