.select-field select {
  text-align: center;
  position: absolute;
  right: 74px;
  top: 16px;
  width: 65%;
  max-width: 200px;
  border-radius: 10px;
  height: 40px;
  font-size: 1em;
  border: 1px solid #4F4F4F;
  background-color: #2F2F2F;
  color: #4F4F4F;
}

.select-field input:focus {
  text-align: center;
  border: none;
  background-color: #2F2F2F;
  color: darken(white, 20%);
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.select-field select:active {
  text-align: center;
  outline: none;
  border: none;
  background-color: #2F2F2F;
  color: darken(white, 20%);
  border: none;
  // box-shadow: none;
  // background: transparent;
}


// .master-brightness-slider[type=range]{
//     -webkit-appearance: none;
// }
//
// .master-brightness-slider[type=range]::-webkit-slider-runnable-track {
//     width: 300px;
//     height: 5px;
//     background: #ddd;
//     oveflow: none;
//     border: none;
//     border-radius: 3px;
// }
//
// .master-brightness-slider[type=range]::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     border: none;
//     height: 16px;
//     width: 16px;
//     border-radius: 50%;
//     background: goldenrod;
//     margin-top: -5.5px;
// }
//
// .master-brightness-slider[type=range]:focus {
//     outline: none;
// }
//
// .master-brightness-slider[type=range]:focus::-webkit-slider-runnable-track {
//     background: #ccc;
// }
