.select-field select {
  position: absolute;
  left: 180px;
  top: 14px;
  width: 150px;
  height: 50px;
  font-size: 1.6em;
  font-weight: 200;
  background-color: #2F2F2F;
  color: #686868;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
}

.select-field input:focus {
  text-align: center;
  border: none;
  font-size: 1.6em;
  background-color: #2F2F2F;
  color: darken(white, 20%);
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  border: none;
}

.select-field select:active {
  text-align: center;
  font-size: 1.6em;
  outline: none;
  border: none;
  background-color: #2F2F2F;
  color: darken(white, 20%);
  border: none;
  -webkit-appearance: none;
  border: none;
}

.data-options-field select {
  background-color: red;
  position: absolute;
  left: 310px;
  top: 15px;
  width: 150px;
  height: 50px;
  font-size: 1.6em;
  font-weight: 200;
  background-color: #2F2F2F;
  color: #686868;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
}

.data-options-field input:focus {
  background-color: red;
  text-align: center;
  border: none;
  font-size: 1.6em;
  background-color: #2F2F2F;
  color: darken(white, 20%);
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  border: none;
}

.data-options-field select:active {
  text-align: center;
  font-size: 1.6em;
  outline: none;
  border: none;
  background-color: #2F2F2F;
  color: darken(white, 20%);
  border: none;
  -webkit-appearance: none;
  border: none;
}

.effect-select-field select {
  position: absolute;
  left: 225px;
  top: 14px;
  width: 150px;
  height: 50px;
  font-size: 1.6em;
  font-weight: 200;
  background-color: #2F2F2F;
  color: #686868;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
}

.effect-select-field input:focus {
  text-align: center;
  border: none;
  font-size: 1.6em;
  background-color: #2F2F2F;
  color: darken(white, 20%);
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  border: none;
}

.effect-select-field select:active {
  text-align: center;
  font-size: 1.6em;
  outline: none;
  border: none;
  background-color: #2F2F2F;
  color: darken(white, 20%);
  border: none;
  -webkit-appearance: none;
  border: none;
}

*:focus {
  outline: none;
}

.master-brightness-slider {
  position: absolute;
  right: 35px;
  top: 70%;
}
.master-brightness-slider[type=range]{
    width: 214px;
    -webkit-appearance: none;
    background: transparent;
}

.master-brightness-slider[type=range]::-webkit-slider-runnable-track {
    width: 280px;
    height: 5px;
    background: #292929;
    border: none;
    border-radius: 3px;
}

.master-brightness-slider[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #95C9B4;
    margin-top: -5px;
}

.master-brightness-slider[type=range]:focus {
  outline: none;
}

#dropdown-arrow {
  position: absolute;
  top: 55px;
  left: 220px;
  color: #4F4F4F;
}

#dropdown-arrow-options {
  position: absolute;
  top: 55px;
  left: 331px;
  color: #4F4F4F;
}

#effect-dropdown-arrow {
  position: absolute;
  top: 32px;
  left: 333px;
  color: #4F4F4F;
}
