.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: #2F2F2F;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
}

.account-dropdown {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

#nav-dropdown {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  color: #6F6F6F;
  top: 69px;
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 5px;
  background-color: #2F2F2F;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
  padding-left: 22px;
}

.account-info {
  width: 72%;
  height: 100%;
  padding-left: 20px;
  padding-top: 13px;
}

#nav-user-name {
  user-select: none;
  pointer-events: none;
  color: #6F6F6F;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.2;
}

#nav-user-email {
  pointer-events: none;
  user-select: none;
  color: #6F6F6F;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 200;
  line-height: 1;
  height: 40px;
}

#user-icon {
  user-select: none;
  position: absolute;
  left: 187px;
  top: 9px;
  border: 1px solid #6F6F6F;
  border-radius: 200px;
  padding: 9px 13px;
  color: #6F6F6F;
}

#nav-menu-button > i {
  color: #4F4F4F;
  position: absolute;
  left: 20px;
  top: calc(50% - 15px);
}

#nav-icon {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}

#power-status {
  text-align: center;
  position: absolute;
  right: 250px;
  width: 75px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  color: #4F4F4F;
}

#power-status:hover {
  background-color: lighten(#2F2F2F, 2%);
}

.account-dropdown:hover {
  background-color: lighten(#2F2F2F, 2%);
}

#true {
  color: #4E941A;
  margin-top: 26%;
  // box-shadow: 2px 2px 2px 1px #4E941A;
}

#false {
  color: #F19121;
  margin-top: 26%;
  // box-shadow: 2px 2px 2px 1px #F19121;
}

#off {
  color: yellow;
  margin-top: 26%;
}
