.palette-list {
  position: relative;
  text-align: center;
  display: block;
  top: 20%;
  height: 50%;
  // margin: 10px;;
  /* top | right | bottom | left */
  // padding: 3% 6% 3% 6%;
}

.palette-container {
  background-color: #373737;
  margin: 15px;
  display: inline-block;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 20%;
  height: 20%;
}

.color-swatch {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.palette-search-results {
  // background-color: green;
  border: 3px solid black;
  margin: 2px;
}

.palette-dropdown {
  position: absolute;
  top: 10%;
  left: 60%;
  width: 100%;
}

.make-yellow {
  background-color: yellow;
}
