.schedule {
  // background-color: rgba(200,0,0,0.1);
  user-select: none;
  cursor: auto;
  font-size: 2em;
  font-weight: 200;
  padding: 35px;
  width: 100%;
  height: 80%;
}

.on-off {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
  float: right;
}

.on {
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  float: right;
  height: 90%;
  width: 107px;
  background-color: #292929;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  font-size: 0.8em;
}

.off {
  display: inline-block;
  padding-right: 2px;
  text-align: center;
  padding-top: 5px;
  float: right;
  height: 90%;
  width: 109px;
  background-color: #292929;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  font-size: 0.8em;
}

.time {
  text-align: center;
  float: right;
  margin-left: 10px;
  width: 65px;
  height: 100%;
  display: inline-block;
  background-color: #292929;
  border-radius: 5px;
}

#time-up {
  display: block;
  color: #95C9B4
}

#time-down {
  display: block;
  color: #95C9B4
}

#time-up:hover {
  color: lighten(#95C9B4, 15%)
}

#time-down:hover {
  color: lighten(#95C9B4, 15%)
}

#time-up:active {
  color: lighten(#95C9B4, 40%)
}

#time-down:active {
  color: lighten(#95C9B4, 40%)
}

#schedule-text {
  // background-color: rgba(0,0,200,0.1);
  user-select: none;
  float: left;
  position: absolute;
  top: 46%;
  right: 280px;
  font-size: 0.8em;
  font-weight: 200;
}

#master-brightness {
  // background-color: rgba(0,200,0,0.1);
  user-select: none;
  float: left;
  position: absolute;
  top: 65%;
  right: 280px;
  font-size: 0.8em;
  font-weight: 200;
}
