.schedule {
  user-select: none;
  cursor: auto;
  display: inline-block;
  font-size: 2em;
  font-weight: 200;
  position: absolute;
  right: 7%;
  top: 25%;
}

.on {
  position: relative;
  top: 0px;
  left: 55px;
  text-align: center;
  float: left;
  height: 56px;
  width: 55px;
  background-color: #292929;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  font-size: 0.8em;
  // vertical-align: middle;
}

.off {
  position: relative;
  top: 56px;
  left: 0px;
  text-align: center;
  float: left;
  height: 56px;
  width: 55px;
  background-color: #292929;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  font-size: 0.8em;
}

.time {
  text-align: center;
  margin-left: 10px;
  width: 65px;
  height: 100%;
  display: inline-block;
  background-color: #292929;
  border-radius: 5px;
}

#time-up {
  display: block;
  color: #95C9B4
}

#time-down {
  display: block;
  color: #95C9B4
}

#time-up:hover {
  color: lighten(#95C9B4, 15%)
}

#time-down:hover {
  color: lighten(#95C9B4, 15%)
}

#time-up:active {
  color: lighten(#95C9B4, 40%)
}

#time-down:active {
  color: lighten(#95C9B4, 40%)
}
