.schedule {
  user-select: none;
  cursor: auto;
  display: inline-block;
  font-size: 2em;
  font-weight: 200;
  position: absolute;
  right: 7%;
  top: 35%;
}

.on {
  position: relative;
  padding-bottom: 3px;
  bottom: 55px;
  left: 226px;
  text-align: center;
  float: left;
  height: 40px;
  width: 107px;
  background-color: #292929;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  font-size: 0.8em;
}

.off {
  position: relative;
  padding-bottom: 3px;
  padding-right: 2px;
  bottom: 55px;
  left: 225px;
  text-align: center;
  float: left;
  height: 40px;
  width: 109px;
  background-color: #292929;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  font-size: 0.8em;
}

.time {
  text-align: center;
  margin-left: 10px;
  width: 65px;
  height: 100%;
  display: inline-block;
  background-color: #292929;
  border-radius: 5px;
}

#time-up {
  display: block;
  color: #95C9B4
}

#time-down {
  display: block;
  color: #95C9B4
}

#time-up:hover {
  color: lighten(#95C9B4, 15%)
}

#time-down:hover {
  color: lighten(#95C9B4, 15%)
}

#time-up:active {
  color: lighten(#95C9B4, 40%)
}

#time-down:active {
  color: lighten(#95C9B4, 40%)
}

.master-brightness {
  position: relative;
  left: 200px;
  top: 153px;
  font-size: 1.8em;
  font-weight: 200;
}

.scheduling {
  position: relative;
  left: 196px;
  top: 103px;
  font-size: 1.8em;
  font-weight: 200;
}
