.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  background: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.30em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
