$main-menu-color: #373A47;
$main-menu-icon: #bdc3c7;

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: $main-menu-color;
}

.bm-morph-shape {
  fill: $main-menu-color;
}

.bm-menu {
  background: $main-menu-color;
}

.bm-cross {
  background: $main-menu-icon;
}

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.30em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  color: $main-menu-icon;
  padding: 0.8em;
}
