#session_login[type="text"], textarea {
  font-weight: 200;
  text-align: center;
  // margin: 30px;
  // width: 400px;
  border-radius: 10px;
  height: 50px;
  font-size: 1.5em;
  background-color: #2F2F2F;
  color: white;
  border: 1px solid #454545;
}

#session_password[type="password"], textarea {
  text-align: center;
  font-weight: 200;
  // margin: 30px;
  // width: 400px;
  border-radius: 10px;
  height: 50px;
  font-size: 1.5em;
  background-color: #2F2F2F;
  color: white;
  border: 1px solid #454545;
}

#lock-icon {
  border: 1px solid #454545;
  border-radius: 200px;
  margin-bottom: 5px;
  padding: 15px 25px;
  color: #454545;
  // transform: translate(-50%, -50%);
}

.form-actions {
  color: black;
}

.sign-in-error {
  margin-bottom: 22px;
  color: #757575;
}
