.sign-up-form {
  text-align: center;
  position: relative;
  top: 10%;
  width: 100%;
}

#register {
  user-select: none;
  color: #757575;
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 15px;
}

#register-success {
  user-select: none;
  color: #757575;
  font-weight: 100;
  font-size: 1.7em;
  margin-bottom: 15px;
}

#register-name {
  user-select: none;
  color: #757575;
  font-weight: 200;
  font-size: 1.7em;
  margin-bottom: 10px;
}

.continue {
  color: #757575;
  font-weight: 100;
  font-size: 1.7em;
}

.sign-up {
  color: #757575;
  font-weight: 100;
  font-size: 1.7em;
}

#continue-icon:hover {
  color: white;
}

#user_handle[type="text"], textarea,
#user_email, #user_password,
#user_password_confirmation,
#product_product_name,
#user_first_name,
#user_last_name
{
  font-weight: 200;
  text-align: center;
  border-radius: 10px;
  height: 50px;
  font-size: 1.5em;
  background-color: #2F2F2F;
  color: white;
  border: 1px solid #454545;
}

#sign-up-icon {
  border: 1px solid #454545;
  border-radius: 200px;
  margin-bottom: 15px;
  padding: 15px 22px;
  color: #454545;
}

#sign-in-button {
  visibility: hidden;
}

.form-errors {
  color: #757575;
  margin-bottom: 15px;
}

.form-actions {
  height: 0;
}

.button_green {
  display: hidden;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0)
}

.button_green:hover {
  display: hidden;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0)
}

.button_green:active {
  display: hidden;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  border: none;
}
