$main-background-color: #2F2F2F;
$main-background-color-accent-1: #6F6F6F;
$main-background-color-accent-2: #454545;
$form-background-color: #757575;
$error-color: #FDA429;
$white: #fff;
$transparent: rgba(0,0,0,0);

welcome-nav {
  font-family: 'Montserrat';
  font-weight: 200;
  padding-left: 20px;
  padding-top: 13px;
  z-index: 999;
  color: $main-background-color-accent-1;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: $main-background-color;
}

.palette {
  font-size: 2em;
}

.sign-up-form {
  color: $white;
  text-align: center;
  position: absolute;
  top: 1vh;
  width: 100%;
}

.sign-in-form {
  text-align: center;
  position: absolute;
  top: 1vh;
  width: 100%;
}

.product-form {
  text-align: center;
  position: relative;
  padding-top: 10%;
  top: 1vh;
  width: 100%;
}

#register {
  user-select: none;
  color: $form-background-color;
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 15px;
}

#demo {
  user-select: none;
  color: $form-background-color;
  font-weight: 100;
  font-size: 1.4em;
  margin-bottom: 15px;
}

#register-success {
  user-select: none;
  color: $form-background-color;
  font-weight: 100;
  font-size: 1.7em;
  margin-bottom: 15px;
}

#register-name {
  user-select: none;
  color: $form-background-color;
  font-weight: 200;
  font-size: 1.7em;
  margin-bottom: 10px;
}

.continue {
  color: $form-background-color;
  font-weight: 100;
  font-size: 1.7em;
}

.sign-up {
  color: $form-background-color;
  font-weight: 100;
  font-size: 1.7em;
}

#continue-icon:hover {
  color: white;
}

#user_handle[type="text"], textarea,
#user_email, #user_password,
#user_password_confirmation,
#product_product_name,
#user_first_name,
#user_last_name
{
  font-weight: 200;
  text-align: center;
  border-radius: 10px;
  height: 50px;
  font-size: 1.5em;
  background-color: $main-background-color;
  color: white;
  border: 1px solid $main-background-color-accent-2;
}

#sign-up-icon {
  border: 1px solid $main-background-color-accent-2;
  border-radius: 200px;
  margin-bottom: 15px;
  padding: 15px 22px;
  color: $main-background-color-accent-2;
}

#sign-in-button {
  visibility: hidden;
}

.form-errors {
  color: $form-background-color;
  margin-bottom: 15px;
}

.bridge-discover-status {
  width: 30%;
  min-width: 300px;
  color: $main-background-color-accent-1;
  border-radius: 10px;
  margin: auto;
  background-color: $error-color;
  color: $form-background-color;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-actions {
  height: 0;
}

.button_green {
  display: hidden;
  background-repeat: no-repeat;
  background-color: $transparent;
}

.button_green:hover {
  display: hidden;
  background-repeat: no-repeat;
  background-color: $transparent;
}

.button_green:active {
  display: hidden;
  background-repeat: no-repeat;
  background-color: $transparent;
  border: none;
}
