.Components {
  flex: 1;
  display: flex;
}

.Component {
  flex: 1;
  display: flex;
  flex-direction: column;
  // height: 40rem;
  // background: #263238;
}

.Component-slider {
  display: flex;
  position: absolute;
  bottom: 0;
  // align-items: center;
  // justify-content: center;
  font-size: 5rem;
}

.Slider {
  display: block;
  padding: 10px;
  width: 50%;
  // height: 50%;
  cursor: ns-resize;
  fill: transparent;
}

.Slider-circle {
  // fill: color(#263238 l(-3%));
  fill: rgb(31, 41, 46);
}

.Slider-bar {
  stroke: lighten(#2F2F2F, 10%);
}

.Slider-progress {
  // stroke: #448AFF;
  stroke: #97C9B3;
}

.Slider-value {
  fill: #494949;
  font-size: 0.5em;
  font-weight: 200;
}

.Slider-label {
  fill: #494949;
  font-weight: 200;
  font-size: 0.4em;
}
